<app-dialog-header [title]="data.title" [showCloseButon]="false" />

@if (data.description) {
<mat-dialog-content>{{ data.description }}</mat-dialog-content>
}

<mat-dialog-actions>
  <button
    mat-flat-button
    color="warn"
    [disabled]="isExecuting()"
    (click)="confirm()"
  >
    @if (isExecuting()) {
      <mat-spinner diameter="20" aria-label="Wird ausgeführt" />
    } @else {
      {{ data.confirmLabel }}
    }
  </button>
  <button
    mat-stroked-button
    cdkFocusInitial
    [disabled]="isExecuting()"
    (click)="cancel()"
  >
    {{ data.cancelLabel }}
  </button>
</mat-dialog-actions>
