form,
.fields,
.nutrition-wrapper {
  display: flex;
  flex-direction: column;
}

form {
  gap: 1rem;
}

.fields,
.nutrition-wrapper {
  gap: 0.75rem;
}

.required-fields,
.macros-wrapper {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
}

.name-field {
  flex: 2 0;
}

.unit-select {
  flex: 1 0;
}

.macros-wrapper {
  flex: 0 0 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}
