@use "../../../../styles/style-tokens" as tokens;

:host {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1;
  white-space: nowrap;
}

:host.draft {
  color: tokens.$on-accent-container-color;
  background-color: tokens.$accent-container-color;
}

:host.historical {
  color: tokens.$on-neutral-container-color;
  background-color: tokens.$neutral-container-color;
}
