@use "./style-tokens" as tokens;

mat-card {
  --mdc-elevated-card-container-shape: 1rem;
  --mat-card-title-text-line-height: 18px;
  --mat-card-title-text-size: 18px;
  --mat-card-subtitle-text-line-height: #{tokens.$primary-font-size};
  --mat-card-subtitle-text-size: #{tokens.$primary-font-size};
  display: flex;
  flex-direction: column;
}

mat-card-content {
  padding: 0 1rem 1rem;
  font-size: tokens.$primary-font-size;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

mat-card-header {
  padding: 1rem 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

mat-card-title {
  color: tokens.$high-emphasis-font-color;
  height: 1lh;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

mat-card-subtitle {
  color: tokens.$medium-emphasis-font-color;
  padding: 0.25rem 0 0 !important;
}
