<mat-card>
  <mat-card-header>
    <mat-card-title>Zutaten</mat-card-title>
    <mat-card-subtitle>{{ recipe().servings }} Portionen</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div class="grid">
      @for(ingredient of ingredientsSorted(); track ingredient.index){
      <app-macro-chart
        class="macro-chart"
        [nutrition]="ingredient.foodstuff"
        [showKcal]="false"
      />
      <span>{{ ingredient.foodstuff.name }}</span>
      <span class="amount"
        >{{ ingredient.amount }} {{ ingredient.foodstuff.unitVerbose }}</span
      >

      }
      @empty {
      <span class="no-ingredients">Keine Zutaten vorhanden</span>
      }
    </div>
  </mat-card-content>
</mat-card>
