<mat-card>
  <mat-card-header>
    <mat-card-title>Zubereitung</mat-card-title>
    @if(recipe().preptime){
    <mat-card-subtitle>{{ recipe().preptime }} min</mat-card-subtitle>
    }
  </mat-card-header>

  <mat-card-content>
    <div class="grid">
      @if(stepsSorted().length > 0){ @for(step of stepsSorted(); track
      step.index){
      <span>{{ step.index }}</span>
      <span>{{ step.description }}</span>
      } }@else{
      <span class="no-steps">Keine Schritte vorhanden</span>
      }
    </div>
  </mat-card-content>
</mat-card>
