<main>
  @if(recipeVersionIsLoading()){
  <div class="spinner-wrapper">
    <mat-spinner diameter="25" />
  </div>
  }@else { @if(recipeVersion; as recipeVersion){
  <article>
    <app-recipe-version-state-badge class="version-state-badge" [state]="recipeVersion.state" />
    <app-recipe-presentation [recipe]="recipeVersion" />
    <div class="spacer"></div>
  </article>

  @if(recipeVersion.state !== 'historical') {
  <div class="buttons-wrapper">
    <button
      mat-mini-fab
      (click)="openPatchRecipeDialog()"
      class="medium-size-button"
    >
      <mat-icon aria-hidden="false" aria-label="edit icon" fontIcon="edit" />
    </button>

    @if(recipeVersion.state === 'draft') {
      <button mat-mini-fab color="primary" (click)="openPublishDraftDialog()" class="medium-size-button" aria-label="Entwurf als aktive Version übernehmen">
        <mat-icon aria-hidden="true" fontIcon="publish" />
      </button>
      <button mat-mini-fab color="warn" (click)="openDiscardDraftDialog()" class="medium-size-button" aria-label="Entwurf verwerfen">
        <mat-icon aria-hidden="true" fontIcon="delete" />
      </button>
    } @else {
      <button mat-mini-fab color="warn" (click)="openDeleteRecipeDialog()" class="medium-size-button" aria-label="Rezeptlinie löschen">
        <mat-icon aria-hidden="true" fontIcon="delete" />
      </button>
    }
  </div>
  }
  }@else {
  <div class="recipe-not-found-placeholder">
    <p>Rezept nicht gefunden.</p>
    <button mat-button (click)="router.navigate(['recipes'])">
      Alle Rezepte anzeigen
    </button>
  </div>
  } }
</main>
