<div class="meta-fields-wrapper" [formGroup]="metaFormGroup">
  <mat-form-field appearance="outline" floatLabel="always">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" />
  </mat-form-field>

  <mat-form-field appearance="outline" floatLabel="always">
    <mat-label>URL</mat-label>
    <input matInput formControlName="originUrl" />
  </mat-form-field>

  <mat-form-field appearance="outline" floatLabel="always">
    <mat-label>Ersteller*in</mat-label>
    <input matInput formControlName="originName" />
  </mat-form-field>
</div>
