@use "../../../styles/styles.scss" as *;

:host {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.navigation {
  flex: 0 0 auto;
  display: flex;
  justify-content: flex-start;
  gap: 0.75rem;
}

.navigation-link {
  max-width: 8rem;
  border-radius: 15%;
  background-color: $element-background-color;
  box-shadow: $element-box-shadow;
  position: relative;
  padding: 2%;
  display: flex;

  &:focus,
  &:hover {
    img {
      transform: scale(1.1);
      transition: transform 0.2s ease-in-out;
    }
  }
}

.image {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: contain;
  display: block;
  z-index: 1;
}

.spacer {
  flex: 1 0 0;
}

.versions-wrapper {
  padding: 2rem 0;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}

.version {
  flex: 0 0;
  font-size: 0.72em;
  opacity: 0.5;
}
