mat-card {
  --mdc-elevated-card-container-shape: 0.1rem;
  --mdc-elevated-card-container-color: transparent;
}

.legend-content {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0.5rem;
}

.color-indicator {
  flex: 0 0 0.5rem;
  height: 1.5rem;
  border-radius: 0.1rem;
  background-color: transparent;
}

p {
  margin: 0;
}

.value-percentage,
.value-absolute {
  white-space: nowrap;
}

.spacer {
  flex: 1 0 0;
}

.percentage-content {
  padding: 0.5rem;
  color: gray;
}

@container nutrition-legend (max-width: 14rem) {
  .legend-content {
    display: grid;
    grid-template-columns: 0.5rem minmax(0, 1fr) auto auto;
    column-gap: 0.25rem;
    padding: 0.25rem;
  }

  .display-name {
    grid-column: 2 / -1;
  }

  .spacer {
    display: none;
  }

  .percentage-content {
    padding: 0.25rem;
  }

  .legend-content > mat-card {
    grid-column: 3;
  }

  .value-absolute {
    grid-column: 4;
  }
}
