:host {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.title {
  flex: 1;
  margin: 0;
  font-size: 1.5rem;
  font-weight: 500;
}

mat-dialog-actions {
  min-height: 0 !important;
  padding: 0 !important;
}

button {
  flex: 0 0;
}
