:host {
  display: grid;
  place-items: center;
  position: relative;
}

// makes auto size work for some reason
.canvas {
  width: 0px;
  height: 0px;
}

.kcal-wrapper {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  pointer-events: none;
}

.kcal {
  margin: 0;
}
