<mat-card>
  <mat-card-header>
    <mat-card-title>Zutaten</mat-card-title>
    <mat-card-subtitle>{{ recipe().servings }} Portionen</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div class="grid">
      @for(ingredient of recipe().ingredients; track ingredient.id){
      <app-macro-chart
        class="macro-chart"
        [recipeOrFoodstuff]="ingredient.foodstuff"
        [showKcal]="false"
      />
      <span>{{ ingredient.foodstuff.name }}</span>
      <span class="amount"
        >{{ ingredient.amount }} {{ ingredient.foodstuff.unitVerbose }}</span
      >

      <app-ingredients-grid-shopping-list-button
        class="ingredients-grid-shopping-list-button"
        [ngClass]="{ hide: environmentName == 'prod' }"
        [ingredient]="ingredient"
        [servings]="recipe().servings"
      />
      }
      @empty {
      <span class="no-ingredients">Keine Zutaten vorhanden</span>
      }
    </div>
  </mat-card-content>
</mat-card>
