@switch (state().status) {
  @case ('loading') {
    <mat-spinner diameter="25" />
  }
  @case ('error') {
    <div class="error">
      <mat-icon aria-label="Fehler" fontIcon="error" />
      <p>{{ errorMessage() }}</p>
    </div>
  }
  @case ('ready') {
    <form [formGroup]="recipeForm" class="form">
      <mat-stepper>
        <mat-step>
          <app-recipe-meta-form [recipeVersion]="recipeVersion() ?? undefined" />
        </mat-step>
        <mat-step>
          <app-recipe-ingredients-form
            [foodstuffs]="foodstuffs()"
            [recipeVersion]="recipeVersion() ?? undefined"
          />
        </mat-step>
        <mat-step>
          <app-recipe-preparation-form [recipeVersion]="recipeVersion() ?? undefined" />
        </mat-step>
      </mat-stepper>
      <mat-divider />
      <div class="button-wrapper">
        <button mat-flat-button type="button" color="primary" [disabled]="recipeForm.invalid || submitting()" (click)="onSubmit('publish')">
          {{ mode() === 'draft' ? 'Entwurf speichern' : 'Speichern' }}
        </button>
        @if (mode() === 'active') {
        <button mat-stroked-button type="button" [disabled]="recipeForm.invalid || submitting()" (click)="onSubmit('draft')">
          Als Entwurf speichern
        </button>
        }
      </div>
    </form>
  }
}
