<div>
  <mat-card>
    @if(showHeader()){
    <mat-card-header>
      <mat-card-title>Nährwerte</mat-card-title>
      <mat-card-subtitle>pro Portion</mat-card-subtitle> </mat-card-header
    >}

    <mat-card-content>
      <!-- chart -->
      @if(recipe().carbs != null && recipe().protein != null && recipe().fat !=
      null){
      <div class="chart-wrapper">
        <app-macro-chart
          class="macro-chart"
          [nutrition]="recipe()"
          (legendUpdated)="legend.set($event)"
        />
        @if(showLegend() && nutrientLegend().length > 0){
        <div class="spacer"></div>
        <div class="legend">
          @for (entry of nutrientLegend(); track entry.displayName) {
            <app-chart-legend-element [legendElement]="entry" />
          }
        </div>
        }
      </div>
      }

      <!-- no chart -->
      @if(recipe().carbs == null || recipe().protein == null || recipe().fat ==
      null){
      <p class="incomplete-message">
        Nährwertangaben der einzelnen Zutaten unvollständig.
      </p>
      }
    </mat-card-content>
  </mat-card>
</div>
