<!-- add to shopping list -->
@if(isAddedToShoppingList() == false){
<button
  disabled
  mat-icon-button
  (click)="OnAddToShoppingList()"
  class="medium-size-button"
>
  <mat-icon
    aria-hidden="false"
    aria-label="Einkaufsliste hinzufügen"
    fontIcon="add_shopping_cart"
  />
</button>

<!-- remove from shopping list -->
}@else {
<button
  disabled
  mat-icon-button
  (click)="OnRemoveFromShoppingList()"
  class="medium-size-button"
>
  <mat-icon
    aria-hidden="false"
    aria-label="Von Einkaufsliste entfernen"
    fontIcon="remove_shopping_cart"
  />
</button>
}
