<!-- recipes -->
@if(displayedRecipeVersions().length > 0){
<div class="grid" [style.--columns]="displayedColumns()">
  @for(recipeVersion of displayedRecipeVersions(); track recipeVersion.recipeVersionId){
  <a
    class="recipe-link"
    [routerLink]="recipeVersionLink(recipeVersion)"
  >
    <app-recipes-grid-element [recipeVersion]="recipeVersion" />
  </a>
  }
</div>
}

<!-- no recipes -->
@else{
<div class="no-recipes-placeholder">
  @if(recipesGridControlsService.searchBy().length > 0){
  <p>Keine passenden Rezepte gefunden.</p>
  <button mat-button (click)="recipesGridControlsService.clearSearch()">
    Suche zurücksetzen
  </button>
  }@else {
  <p>Keine Rezepte vorhanden.</p>
  }
</div>
}
