<main>
  <nav class="navigation">
    <a
      mat-flat-button
      routerLink="/recipes"
      ariaCurrentWhenActive="page"
      class="navigation-link"
    >
      <img src="../../assets/recipes.png" alt="Rezepte" class="image" />
    </a>
    <a
      mat-flat-button
      routerLink="/foodstuffs"
      ariaCurrentWhenActive="page"
      class="navigation-link"
    >
      <img src="../../assets/foodstuffs.png" alt="Lebensmittel" class="image" />
    </a>
  </nav>
  <div class="spacer"></div>
  <div class="versions-wrapper">
    <span class="version">Frontend {{ frontendVersion }}</span>
    @if(backendMetaService.backendVersion()){
    <span class="version"
      >Backend {{ backendMetaService.backendVersion() }}</span
    >}
  </div>
</main>
