@use "../../../../styles/mat-card-styles.scss" as *;

.chart-wrapper {
  display: grid;
  place-items: center;
}

.macro-chart {
  width: 80%;
  max-width: 26rem;
}

.spacer {
  height: 0.5rem;
}

.legend {
  width: 100%;
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.incomplete-message {
  margin: 0;
  padding: 1rem 0 0;
}
