@use "../../../../styles/mat-card-styles.scss" as *;

mat-card {
  gap: 1rem;
}

mat-card-content {
  padding: 1rem 1rem 0 !important;
}

.macro-chart {
  height: 100%;
  min-width: 0;
  width: 100%;
}

mat-card-header {
  padding: 0 1rem 1rem !important;
}

mat-card-subtitle {
  height: 1lh;
}
