<mat-card>
  <mat-card-content>
    <app-macro-chart
      class="macro-chart"
      [nutrition]="recipeVersion()"
      [showKcal]="false"
    />
    <app-recipe-version-state-badge
      class="version-state-badge"
      [state]="recipeVersion().state"
    />
  </mat-card-content>

  <mat-card-header>
    <mat-card-title>
      {{ recipeVersion().name }}
    </mat-card-title>

    <!-- preptime -->
    @if(recipeVersion().preptime != null){
    <mat-card-subtitle>{{ recipeVersion().preptime }} min</mat-card-subtitle>
    }

    <!-- no preptime -->
    @else {
    <mat-card-subtitle style="visibility: hidden">? min</mat-card-subtitle>
    }
  </mat-card-header>
</mat-card>
