@use "../../../../styles/styles.scss" as *;

:host {
  display: grid;
  place-items: center;
}

.toolbar {
  min-width: 0;
  align-items: center;
  gap: 0.5rem;
}

.headline-wrapper {
  min-width: 0;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 0.5rem;
}

.headline {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.environment {
  flex: 0 0;
  font-variant: petite-caps;
}

.spacer {
  flex: 1 1 auto;
}
