@use "../../../../styles/styles.scss" as *;

:host {
  display: flex;
  flex-direction: column;
}

.grid {
  --columns: 2;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: 0.5rem;
}

.no-recipes-placeholder {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
