<main>
  <!-- loading -->
  @if (foodstuffsState().status === 'loading') {
  <div class="spinner-wrapper">
    <mat-spinner diameter="25" />
  </div>
  }

  <!-- error -->
  @else if (foodstuffsState().status === 'error') {
  <div class="error-wrapper">
    <div class="error">
      <mat-icon aria-hidden="false" aria-label="Fehler" fontIcon="error" />
      <p>Zutaten konnten nicht geladen werden.</p>
    </div>
  </div>
  }

  <!-- loaded -->
  @else {
  <app-foodstuffs-table
    class="foodstuffs-table"
    [foodstuffs]="foodstuffsState().data"
  />
  <div class="bottom-elements-placeholder"></div>
  <div class="bottom-elements">
    <app-foodstuffs-search [foodstuffs]="foodstuffsState().data" />
    <app-foodstuffs-table-create-foodstuff />
  </div>
  }
</main>
